<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js">
  </script>
  <script type="text/javascript" src="js/jquery.jplayer.js">
  </script>
  <script>
    $(document).ready(function() {
  $("#jpId").jPlayer( {
    ready: function () {
      $(this).jPlayer("setMedia", {
        mp3: "../backend/audio/music.mp3" 
      });
    }
  });
});


  </script>
  
  
  <script type="text/javascript" src="jquery.metadata.js"></script> 
<script type="text/javascript" src="http://github.com/malsup/media/raw/master/jquery.media.js?v0.92"></script> 
</head>
<body>
  <div id="jpId"></div>
  
  
  <a class="media"              href="audio/sample.au">AU File</a> 
<a class="media"              href="audio/sample.aac">AAC File</a> 
<a class="media"              href="audio/sample.aif">AIF File</a> 
<a class="media"              href="audio/sample.gsm">GSM File</a> 
<a class="media"              href="audio/velvet.mid">MIDI File</a> 
<a class="media"              href="audio/sample.mp3">MP3 File</a> 
<a class="media {height:80}"  href="audio/sample.rm">RM File</a> 
<a class="media"              href="audio/sample.wav">WAV</a> 
<a class="media {height:45}"  href="audio/sample.wma">WMA File</a> 

<script>


$('a.media').media( { width: 300, height: 20 } );
  </script>
</body>