html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

div.required label:after {
    content: " *";
    color: red;
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.help-block{
    color: red;
}

.stop-task-button{
    color: red;
}

.pause-task-button{
    color: orange;
}

.pause-task-button:hover, .stop-task-button:hover, .remove-task-button:hover{
    transform: scale(1.5);
}

.finish-task-button{
    opacity: 0.5;

}



.finish-task-button:hover{
    opacity: 0.9;
}

.start-task-button{
    color: #04E264;
}

.low-priority{
    color: gray;
}

.medium-priority{
    color: blue;
}

.hight-priority{
    color: red;
}

@-webkit-keyframes pulse {

    0% {
        opacity:0.4;
    }
    50%{
        opacity: 0.9
    }
    100% {

        opacity:0.3;
    }

}

.task-paused{
    color: orange;
}

.task-stoped{
    color: red;
}

.task-actions-column{
}

.task-started{
    -webkit-animation: pulse 3.5s infinite;
    color: #04E264;
}

.form-data-block:hover {
    transform: scale(1.01); /* Размеры */
    
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


